<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="static/homestyles.css" />
    <script src="https://kit.fontawesome.com/d5fba335cd.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
<nav>
<div class="logo">
    <img src="static/img/KOP_LOGO.png" alt="Logo">
</div>
<a href="#kopee">RAA101A</a>
<a href="#available_services">Services</a>
<a href="https://ckm4gjdk-8000.uks1.devtunnels.ms/request_car_servicing">Forms</a>
<a href=""><i class="material-icons" style="font-size:36px">call</i></a>
</nav>
    <div class='container'>
        <section id='kopee'>
        <div class="w-20 h-20 bg-gray-200 items-center justify-center">
        <h6 >Subscriber data!</h6>
        <div><a href="">Logout</a></div>
        </div>
        </section>

        <section id='available_services'>
            <h1>available services</h1>
        </section>

        <section id='service_forms'>
            <h1>service forms page</h1>
        </section>

        <section id='call'>
            <h1>call 3cx chat page</h1>
        </section>
    </div>
</body>
</html>